@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:ital,wght@0,300;0,500;0,600;0,800;1,200;1,300;1,600;1,700;1,900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



body {
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin: 0px;

}


.nav-top-cnt-main {
  background-color: #f4eece;
}

@media(max-width:1006px) {
  .nav-top-sub {
    width: 100% !important;
    text-align: center;
  }

}

.nav-top-sub p {
  margin: 14px 0px !important;
}

.nav-logo-main {
  background-color: #d71921;
  position: absolute;
  top: 0px;
  width: 70px;
  height: 100px;
}

.nav-logo-main img {
  padding-top: 57px;
}

.nav-main {
  display: flex;
  gap: 120px;
  margin-left: 100px;
}

.nav-menu-items {
  display: flex;
  gap: 250px;
}

@media(max-width:1207px) {
  .nav-menu-items {
    display: flex;
    gap: 50px;
  }

}

@media(max-width:1391px) {
  .nav-main{
    gap: 60px;
    margin-left:50px
  }

}

@media(max-width:1068px) {
  .nav-main {
    margin: 0px 15px 0px 30px;
  }

}

.nav-link {
  color: white !important;
}

.nav-icon-2 i {
  color: white;
}

.nav-icon {
  color: white;
  padding-top: 10px;
}

.navbar-toggler {
  border: 1px solid #9f9a9a !important;
  padding: 6px !important;
  margin: 6px 12px 0 10px !important;
  height: auto !important;
  border-radius: 3px !important;
  width: auto !important;
  font-size: 15px !important;
  color: white !important;
}

@media(min-width:992px) {
  .nav-logo-main{
    display: none;
  }

}

@media(min-width:992px) {
  .user-icon-nav {
    display: none;
  }

}
@media(max-width:989px) {
  .nav-menu-items {
    gap:20PX;
  }
  .navbaricons{
    display: flex !important;
    flex-direction: row !important;
  }

}


.nav-logo-main-top {
  background-color: #d71921;
  position: absolute;
  top: 0px;
  width: 70px;
  height: 100px;
}

.nav-logo-main-top img {
  padding-top: 50px;
}


.background-img picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cnt-1-btn {
  text-decoration: none;
  background-color: #d71921;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border: 0px;
  margin-top: 5px;
  color: white;

}

.cnt-1-btn a {
  text-decoration: none;
  color: white;

}

.cnt-1-inner-head {
  font-family: 'oswald';
  font-weight: 500;
  font-size: 88px;
  color: white;
  margin: 0px;

}

.cnt-1-inner-subhead {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 28px;
  margin: 0px;
  color: white;
  display: inline;
}

.part-1-cnt {
  padding-top: 120px;
  padding-left: 0px !important;
  text-align: start;
}

.cnt-1-inner-subhead-last {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 28px;
  margin: 0px;
  color: white;
  text-align: center;

}

.fly-better-logo img {
  width: 200px;
  height: 100px;


}

.fly-better-logo {
  position: absolute;
  right: 60px;
}

.cnt-part-main {
  position: absolute;
  top: 210px;
  left: 0px;
  margin: 0px 135px;
}

.cnt-last {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin: 0px !important;
  position: relative;
  left: 350px;


}

@media(max-width:769px) {
  .cnt-last {
    position: relative;
    left: 210px;
  }

  .cnt-1-btn-main {
    text-align: start;
    margin-left: 0px !important;
  }
}


.part-main {
  margin: 0px 148px;
  padding: 0px 50px;
}

@media(max-width:1024px) {
  .cnt-part-main {
    margin: 0px 80px;
    padding: 0px 30px;
  }

}

@media(max-width:902px) {
  .cnt-part-main {
    margin: 0px;
    padding: 0px;
  }

  .cnt-1-inner-head {
    white-space: nowrap;
  }
}

@media(max-width:769px) {
  .cnt-1-inner-subhead-last {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 18px;

  }

  .cnt-1-inner-head {
    font-family: 'oswald';
    font-weight: 500;
    font-size: 60px;


  }

  .cnt-1-inner-subhead {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 18px;
  }

  .background-img picture source {
    height: 400px !important;

  }

  .background-img picture img {
    height: 400px !important;
  }

  .fly-better-logo img {
    height: 70px;
    width: 130px;
  }

  .fly-better-logo {
    position: absolute;
    right: 0px;
  }

}

@media(max-width:579px) {
  .cnt-1-inner-subhead-last {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 15px;

  }

  .cnt-1-inner-head {
    font-family: 'oswald';
    font-weight: 500;
    font-size: 40px;


  }

  .cnt-1-inner-subhead {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 15px;
  }

  .background-img picture source {
    height: 350px !important;

  }

  .background-img picture img {
    height: 350px !important;
  }

  .fly-better-logo img {
    height: 50px;
    width: 100px;
  }

  .fly-better-logo {
    position: absolute;
    right: 50px;
  }

  .cnt-last {
    position: relative;
    left: 0px;
  }

}

.cnt-1-btn-main {
  text-align: center;
  margin-left: 115px;
}

.part-2-tabs-btn {
  color: black !important;
}


.part-2-cnt-1-top {
  background: #f0f4ff;
  border: 1px solid #406dc0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.part-2-cnt-1-top-btn button {
  width: 200px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
  border: 0.1rem solid #333 !important;
  white-space: nowrap;
}

.part-2-cnt-1-top-font {
  font-family: 'oswald';
  font-weight: 500;
  font-size: 18px;

}

.part-2-tab-cnt2 {
  display: flex;

}

.part-2-cnt-2-btn1 {
  border: 1px solid black;
  padding: 5px 25px;
  border-left: 0px;
}

.part-2-cnt-2-btn1-mian {
  border: 1px solid black;
  padding: 5px 15px;


}

.part-2-tab-cnt2 {
  margin-top: 20px;
}

.btn-tab-submit a {
  text-decoration: none;
  color: white;
}

.btn-tab-submit {
  width: 100%;
  height: 80px;
  background-color: #d71921;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-2-input {
  border: 1px solid #666;
}

.part-2-input input {
  border: 0px;
  box-shadow: none !important;
}

.part-2-input select {
  border: 0px;
  box-shadow: none !important;
}

.part-2-tabmain {
  padding-left: 30px !important;
  padding-right: 30px !important;


}

.part-2-tabs li {
  padding: 10px 0px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.part-2-tabs li button {
  background-color: white !important;
}

.part-2-tabs li:hover {
  border-bottom: 4px solid #d71921;
  box-shadow: 0 0 2px 1.5px #666, 0 0 3px 3px #666;
  outline: 0;
}

.part-2-input {
  padding: 5px 15px;
  box-shadow: 0 0.2rem 0.4rem rgba(19, 17, 17, 0.19);
}

.part-2-form1 {
  margin-top: 35px !important;
}

.part-2-tabsub {
  padding: 30px 30px !important;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .19);


}

.part-2-form2 input {
  padding: 19px 26px !important;
  border-radius: 3px !important;
}

.part-2-form2-btn {
  background-color: #d71921;
  color: white;
  width: 100%;
  padding: 17px 26px;
  border-radius: 3px;
  border: 0px;
}

.part-2-input input:hover {
  box-shadow: 0 0 2px 1.5px #666, 0 0 3px 3px #666;
  outline: 0
}

.form-check-input:checked {
  background-color: #d71921 !important;
  border-color: #d71921 !important;
}

@media(max-width:1403px) {
  .part-2-tabmain {
    padding: 0px !important;
  }

}

@media(max-width:1201px) {
  .part-2-tabs li {
    padding: 10px 0px;
  }

  .part-2-tabs {
    display: flex;
    justify-content: center;
  }
}

@media(min-width:1201px) {
  .part-2-tabs li {
    white-space: nowrap;
  }

}

@media(max-width:992px) {
  .part-2-tabs li {
    padding: 32px 0px;
  }

}

@media(max-width:769px) {
  .part-2-cnt-1-top {
    display: none;
  }

}

.part-2-cnt-1-top-main {
  background: #f0f4ff;
  border: .5px solid #406dc0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  position: relative;
}

.part-2-cnt-1-topmain-font {
  font-family: 'oswald';
  font-weight: 500;
  font-size: 15px;

}

@media(min-width:769px) {
  .part-2-cnt-1-top-main {
    display: none;
  }
}


@media(max-width:352px) {
  .part-2-cnt-2-btn1 {
    padding: 5px 13px;
  }
}

.part-3-subs {
  width: 12.5%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 29px 0px;
  text-align: center;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.part-3-main {
  display: flex;
  border: 1px solid #d8d8d8;
  margin-top: 50px !important;
  padding: 0 !important;

}

.part-3-head span a {
  color: #666;
}

.part-3-head span i {
  color: #666;
}

.part-3-icon i {
  color: #666;
}

.part-3-subs:hover {
  border-bottom: 3px solid #d71921;
  cursor: pointer
}

.part-3-subs:hover span a {
  color: black;
  font-size: 17px;
}

.part-3-subs:hover .part-3-icon i {
  color: black;
}

.part-3 {
  margin: 0px 30px;
}

@media(max-width:1403px) {
  .part-3 {
    margin: 0px;
  }

}

.part-4-sub {
  position: absolute;
  top: -20px;
}

.part-4-main {
  position: relative;
}

.part-4-main {
  width: 100%;
  height: 70px;
  background-image: url('../images/background-pattern-skywards-tier.webp');
  background-color: black;
  border-radius: 10px;
}

.part-4-inner img {
  width: 300px;
}

.part-4 {
  margin: 55px 30px;
}

.part-4-inner p {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 15px;
  color: white;
  line-height: 15px;


}

.part-4-inner span {
  font-family: 'oswald';
  font-weight: 500;
  font-size: 20px;
  color: white;



}

.part-4-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.part-4-inner-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.part-4-inner-btn a button {
  padding: 2px 30px;
  border: 0px;
}

@media(max-width:991px) {
  .part-4-main {
    width: 100%;
    height: 300px;
    background-image: url('../images/background-pattern-skywards-tier.webp');
    background-color: black;
    border-radius: 10px;
  }

  .part-4-inner-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .part-4-inner {
    text-align: center;
    padding-top: 30px;

  }

  .part-4-inner img {
    position: relative;
    left: 20%;

  }
}

@media(max-width:424px) {
  .part-4-inner img {
    position: relative;
    left: 15%;
    width: 200px;

  }
}

@media(max-width:375px) {
  .part-4-inner img {
    position: relative;
    left: 12%;
    width: 170px;

  }
}

.part-5-cnt h2 {
  font-family: 'Montserrat:ital';
  font-weight: 900;
  font-size: 38px;
}

@media(max-width:992px) {
  .part-5-main {
    text-align: center;
    margin: 0px !important;
  }
}

@media(max-width:479px) {
  .part-5-cnt h2 {
    font-family: 'Montserrat:ital';
    font-weight: 900;
    font-size: 28px;
  }
}

.part-5-cnt {
  display: block;
}

.part-5-cnt-img {
  width: 165px;
  height: 165px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #d8d8d8;
  transition: transform .3s linear;


}

.part-5-cnt-img:hover {
  box-shadow: inset 5px 3px 3px 0 rgba(0, 0, 0, .04);
  transition: transform .3s linear;
  transform: scale(1.1);

}

.part-5-cnt-img img {
  width: 100%;
  height: 100%;
}

.part-5-main li {
  list-style-type: none;
}

.part-5-main {
  text-align: center;
  margin: 0px 177px;
}

.part-5-sub {
  margin: 50px 0px !important;

}

.link-tex {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
  outline: 0;
  line-height: normal;
  color: black;
}

.part-5-sub-li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.link-tex {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 18px;

}

.part-5-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part-5-bg-img-clr {
  display: block;
  background: rgba(0, 0, 0, .42);
  padding: 1vh 2rem;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0px;
}

.market-promo-item {
  opacity: .69;
  font-size: 8px;
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
  margin: 0;
  padding-top: 4rem;
  letter-spacing: 4px;
  line-height: 1.15rem;
  color: #fff;
  opacity: .69;
  text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, .5);
}

.market-promo-item-head {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 58px;
  color: white;
}

.market-promo-item-cnt {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 18px;
  color: white;
}

.part-5-bg-img-inner-cnt {
  position: absolute;
  top: 20px;
  text-align: center;
}

.market-promo-item-head::after {
  content: "";
  position: relative;
  display: block;
  background-color: #d71921;
  width: 60px;
  height: 2px;
  margin: 0.5rem auto;
}

.market-promo-item-btn a {
  padding: 8px 20px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  background-color: white;
}

.market-promo-item-btn {
  position: relative;
  top: 100px;
}

@media(min-width:1024px) {
  .market-promo-item-btn {
    position: relative;
    top: 50px;
  }

  .market-promo-item-head {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 38px;
    color: white;
  }

  .market-promo-item-cnt {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 18px;
    color: white;
  }

  .part-5-bg-img-inner-cnt {
    position: absolute;
    top: 15px;
    text-align: center;
  }
}

@media(max-width:1209px) {
  .market-promo-item-btn {
    position: relative;
    top: 20px;
  }

}

@media(max-width:1024px) {
  .market-promo-item-btn {
    position: relative;
    top: 50px;
  }

  .market-promo-item-head {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 38px;
    color: white;
  }

  .market-promo-item-cnt {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 18px;
    color: white;
  }

}

@media(max-width:730px) {

  .market-promo-item-btn {
    position: relative;
    top: 30px;
  }

  .market-promo-item-head {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 28px;
  }

  .market-promo-item-cnt {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 15px;
  }

  .market-promo-item {
    padding-top: 30px !important;
  }

  .market-promo-item-btn a {
    padding: 5px 15px;
    font-size: 12px;

  }

}

@media(max-width:479px) {

  .market-promo-item-btn {
    position: relative;
    top: 30px;
  }

  .market-promo-item-head {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 20px;
  }

  .market-promo-item-cnt {
    font-family: 'Montserrat:ital';
    font-weight: 800;
    font-size: 13px;
  }

  .market-promo-item {
    padding-top: 60px !important;
  }

  .market-promo-item-btn a {
    padding: 5px 15px;
    font-size: 12px;

  }

  .market-promo-item {
    opacity: .69;
    font-size: 5px;
    font-weight: 700;
  }


}

.part-6-head-main {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 23px;
}

.part-6-head-bld {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 25px;
}

.part-6-head {
  text-align: center;
}

.city-card__image {
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.city-card__city {
  font-family: 'Montserrat:ital';
  font-weight: 700;
  font-size: 30px;
}

.city-card__country {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 0px !important;
  white-space: nowrap;
}

.city-card__discover {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  margin-top: 20px;
}

.part-6-card-cnt {
  text-align: center;
  padding: 2.5rem;
}

.part-6-card {
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, .1);
  border-radius: 0.3rem;
  margin: 0 0 3rem;
  display: inline-block;
  padding: 0px !important;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.part-6-card:hover {
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, .5);
  background-color: #fff;
}

.part-6 {
  max-width: 1200px;

}

.part-6-card-parent {
  margin-top: 40px;
}

@media(max-width:479px) {
  .part-6-card {
    margin-left: 0px;
  }

}



.part-6-bottom-btn:hover {
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, .5);
  color: #333;
}

.part-6-bottom a {
  color: #333;
}

.part-6-bottom-btn {
  padding: 5px 50px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.part-6-bottom {
  text-align: center;
}

.part-7-head span {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #666;
  white-space: nowrap;

}

.part-7-head h2 {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 50px;
  padding: 10px 0px;
}

.part-7-head {
  text-align: center;
  width: 100%;
}

.part-7-main {
  margin: 70px 0px;
}



.part-7-main-bgimg {
  background-image: url('../images/seafood-meal-first-class-black-and-white-d1920x1159 (1).avif');
  width: 100%;
}

.part-7-card-img1 img {
  width: 100%;

}

.part-7-card-img1 {
  width: 100%;
  margin-top: 94px;

}



.part-7-card1-cnt-head {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #666;
  white-space: nowrap;

}

.part-7-card1-cnt-sub-head {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 50px;
  padding: 5px 0px;
}

.part-7-card1-cnt-sub-head::after {
  content: "";
  text-align: center;
  position: relative;
  display: block;
  background-color: #d71921;
  width: 60px;
  height: 2px;
  margin-top: 0.5rem !important;
}

.part-7-card1-cnt {
  padding: 40px 40px 0px;

}

.part-7-card1 {
  border: 1px solid black;
  height: 723px;
  background-color: white;
  cursor: pointer;
}

.part-7-card1:hover {
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, .5);
}

.part-7-card-img img {
  width: 100%;

}

.part-7-card2-cnt-head {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #666;
  white-space: nowrap;

}

.part-7-card2-cnt-sub-head {
  font-family: 'Montserrat:ital';
  font-weight: 800;
  font-size: 20px;
  padding: 5px 0px;
}

.part-7-card2-cnt-sub-head::after {
  content: "";
  position: relative;
  left: 0px;
  display: block;
  background-color: #d71921;
  width: 60px;
  height: 2px;
  margin-top: 0.5rem !important;
}

.part-7-card1-cnt p {
  font-size: 10px !important;
}

.part-7-card2-cnt {
  padding: 20px 20px 0px;
  background-color: white;

}

.card-2 {
  border: 1px solid #666;
  text-align: center;

}

.part-7-sub {
  margin: 60px 0px;
}

.card-2:hover {
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, .5);
}

.card-2 {
  cursor: pointer;
}

.part-8 {
  margin: 60px 0px;
}

.part-8 {
  text-align: center;
  padding: 60px 177px 0px 177px !important;
}

.card-2-main {
  flex: 1;
}

.card-2-parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  ;
}

@media(max-width:1235px) {
  .part-8 {
    padding: 60px 100px 0px 100px !important;
  }

}

@media(max-width:992px) {
  .part-8 {
    padding: 60px 0px 0px 0px !important;
  }

}

@media(max-width:1399px) {
  .part-7-card1 {
    height: 655px;
  }

}

@media(max-width:1200px) {
  .part-7-card1 {
    height: 588px;
  }

  .part-7-cnt-parent {

    padding: 0px 20px;
  }


}

@media(max-width:992px) {
  .card-2-parent {
    display: block;
  }

  .card-2-parent {
    margin-top: 195px;
  }

  .card-2 {
    margin-top: 20px;
  }

}

@media(max-width:770px) {

  .card-2-parent {
    margin-top: 50px;
  }

  .card-2 {
    margin-top: 20px;
  }

  .card-2-main {
    display: block;
  }

}

@media(max-width:344px) {
  .part-7-card1 {
    height: 495px;
  }

  .card-2-parent {
    margin-top: 10px;
  }

}

@media(max-width:449px) {
  .part-7-card1 {
    height: auto;
  }
}

.footer-main {
  background-color: #333;
  padding: 0px;
  width: 100%;
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
}

.footer-sub li {
  list-style-type: none;
  color: #A9A9A9;
}

.footer-sub li a {
  text-decoration: none;
}

.footer-sub {
  margin: 21px 0px 0px 0px;
  padding: 0px 10px 20px 0px;

}

.footer-sub li a {
  list-style-type: none;
  color: #A9A9A9;
}

.ftr-cnt-sbheads {
  display: inline;
}

.ftr-cnt-sbheads-btn1 button {
  padding: 8px 60px;
  white-space: nowrap;
}

.ftr-cnt-sbheads-btn2 button {
  padding: 8px 72px;
  background-color: #333;
  color: white;
  white-space: nowrap;
  margin-top: 20px;
  width: 100%;
}

.ftr-cnt-sbheads-btn2 button:hover {
  background-color: white;
  color: black;
}

.footer-parent {
  border-bottom: 1px solid white;
  margin-top: 21px;
}

.ftr-cnt-sbheads-btns {
  padding: 20px 0px;
}

.ftr-appstore {
  display: flex;
  gap: 20px;
  margin-top: 44px;
}

.footer-icns {
  display: flex;
  gap: 15px;
}

.footer-icns i {
  color: white;
  background-color: black;
  margin-top: 44px;
}

.footer-brand-img img {
  height: 160px;
  width: 350px;
}

.footer-sub-last li {
  list-style-type: none;
}

.footer-sub-last {
  display: flex;
}

.ftr-logo-main {
  background-color: #d71921;
  position: absolute;
  width: 67px;
  height: 78px;
  bottom: -70px;
  right: 35px;
}

.footer-logo {
  position: relative;
}

.footer-end {
  padding: 20px 20px 70px
}

@media(max-width:1214px) {
  .footer-brand-img img {
    height: 90px;
    width: 250px;
  }
}

@media(max-width:992px) {
  .footer-brand-img img {
    height: 90px;
    width: 170px;
  }
}

@media(max-width:1399px) {

  .ftr-cnt-sbheads-btn2 button {
    width: 100%;
    white-space: nowrap;
  }



}


@media (max-width: 578px) {

  .ftr-logo-main {
    background-color: #d71921;
    position: absolute;
    width: 67px;
    height: 78px;
    bottom: -70px;
    right: 35px;
  }

  /* .ftr-cnt-sbheads-btn1 button {
      width: 100%;

  } */
}

@media(max-width: 989px) {
  .ftr-cnt-sbheads-btn1 button {
    width: 100%;

  }
}

@media(max-width:575px) {
  .footer-parent {
    text-align: center;
  }

  .footer-sub li {
    display: flex;
    justify-content: center;
  }
}